<%= render "shared/nav_menu_dropdown" %>
<div class="main-container-blog">
  <div class="left-column-blog" >
    <%= render "shared/main_nav" %>
  <div class="right-column-blog" id="who-we-are-page">
    <h2 class="contact-header">Who We Are</h2>
    <div class="contact-form-container">
    </div>
  </div>
</div>
