#color-think-tank {
  background: #CCCC9A;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.new-blog-container {
  width: 100%;
  height: 100vh;
  padding-block: 15vh;
  padding-inline: 10vw;
  background-color: #CCCC9A;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  #blog_post_title {
    height: 4vh;
  }
  #blog_post_body {
    height: 40vh;
  }
  .new_blog_post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    width: 50%;
    .btn {
      width: 60%;
      font-size: 2.5vw;
    }
  }
  .input {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
  }
  .custom-class-name {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 1vh;
    font-size: 1.5vh;

    input {
    }
  }
 #blog_post_photo {
  padding: 0;
 }
  .btn {
    background-color: #FEFF99;
    color: #fff;
    border: none;
    padding: 1vh;
    font-size: 2vh;
    cursor: pointer;
    color: black;
  }
}

.blog-show-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-block: 14vh;
  padding-inline: 20vw;
  align-items: start;
  background-color: #CCCC9A;
  .blog-content {
    padding-block: 2vh;
    padding-inline: 10%;
    max-width: 980px;
    background-color: rgba(255, 255, 255, 0.686);
    border: solid 1px black;
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    .blog-title {
      font-size: 4vw;
      font-weight: bold;
    }
    .blog-body {
      font-size: 2vw;
    }
    .blog-author {
      font-size: 2vw;
    }
    .blog-date {
      font-size: 2vw;
    }
  }
}
