body {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.logo {
  width: 3.7rem;
}
.menu-container {
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.main-container {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.left-column {
  width: 50%;
  height: 200vh;
  background-color: #E6E6E6;
}

.right-column {
  width: 50%;
  height: 200vh;
  width: 50%;
}

.home-container {
  background-color: #FEFF99;
  height: 100vh;
  padding-block: 10vw;
  padding-inline: 7vw;
  width: 100%;
  padding-top: 15vh;
  h1 {
    font-weight: 400;
    font-size: 4.8vw;
    width: fit-content;
    margin-inline: auto;
    line-height: 1.1;
    letter-spacing: 2px;
  }
}
#b-centred-home {
  background-color: black;
}
.about-container {
  background-color: #CDFFFF;
  height: 100vh;
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 5vh;
  padding-inline: 7vw;
  h2 {
    font-weight: 400;
    font-size: 2.5vw;
    width: fit-content;
    margin-inline: auto;
    line-height: 1.11;
  }
  h2:first-of-type {
    margin-bottom: 5vh;
  }
}

.home-nav {
  width: 100%;
  padding-inline: 7vw;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3vh;

  position: sticky;
  top: 0;
  p {
    margin-block: 5px;
    font-size: 1vw;
  }
}

.links {
  h3 {
    font-size: 2vw;
    font-weight: 400;
  }
  a {
    font-size: 1.9vw;
    color: white;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
  }
  #about-link {
    color: white;
    background-color: white;
  }

}

.horizontal-divider {
  width: 8%;
  height: 2px;
  background-color: black;
  margin-block: 10px;
  padding: 0;
}

.small-statments {
  display: none;
}
.small-about-tag {
  display: none;
}



@media screen and (max-width: 821px) {
  #d-none {
    display: flex;
  }
  .dropdown {
    height: 9svh; /* vh instead of svh */
    left: 10svw; /* vw instead of svw */
    top: 0;
    flex-direction: column;
    justify-content: center;
  }
  .dropdown .fa-2xl {
    font-size: 1.5em;
  }
  .dropdown-menu {

  }
  .dropdown:hover {

  }
  .main-container {
    height:auto;
    width: 100%;
    min-height: 100svh;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    background-color: #CDFFFF;
  }
  .small-about-tag {
    display: block;
    position: absolute;
    top: 5.4svh;
    left: 4svw;
    margin: 0;
    font-size: 1.9svw;
  }
  .left-column {
    display: none;
  }
  .right-column {
    height:auto;
    width: 100%;
    flex-grow: 1;
  }
  .small-statments {
    display: block;
    padding-inline: 15svw;
    background-color: #E6E6E6;
    padding-block: 5svh;
    p {
      margin: 0;
      font-size: 4svw;
    }
  }
  .logo {
    width: 2.7rem;
  }
  .nav-bar {
    height: 9svh;
  }
  .home-container{
    height: 100%;
    padding-top: 11svh;
    padding-inline: 15svw;
    padding-block: 12svh;
    padding-bottom: 5svh;
    h1 {
      font-size: 9svw;
    }
  }
  .about-container.about-container {
    padding-inline: 15svw;
    height:auto;
    width: 100%;
    padding-inline: 15svw;
    padding-top: 5svh;
    padding-bottom: 5svh;
    position: relative;
    h2 {
      font-size: 3.4svw;
    }
    p:nth-child(1) {
      // styles here will apply to every p element except the first two
      margin-top: 0;
    }
  }
  .blog-show-container.blog-show-container {
    padding-inline: 0svw;
  }
  .right-icons-flex.right-icons-flex.right-icons-flex {
    gap: 3.8vw;
  }
  .blog-content.blog-content.blog-content {
    .top-section {
      p {
        font-size: 2.5svw;
      }
      i {
        font-size: 2.6svw;
      }
    }
    p:nth-child(n+3) {
      // styles here will apply to every p element except the first two
      line-height : 1.6;
      font-size: 3svw;
    }
    h1 {
      font-size: 4.8svw;
    }
  }
}
