#color-who-we-are {
  background-color: #A4E0E0;
}

#who-we-are-page {
    background-color: #A4E0E0;
    min-height: 100vh;
    padding-block: 10vw;
    padding-inline: 7vw;
    padding-top: 15vh;
}
