<%= render "shared/nav_menu" %>
<div class="main-container">
  <div class="left-column">
    <%= render "shared/main_nav" %>
  <div class="right-column">
    <div class="blog-container">

    </div>

    <div class="" >

    </div>
  </div>
</div>
