<div class="blog-card-container"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @blog_post.photo.key, crop: :fill %>')">
<h1><%= @blog_post.title %></h1>
<p><%= @blog_post.body %></p>
</div>
