<div class="home-nav">
      <div class="links">
        <h3>B-Centred</h3>
        <%= link_to( "About Us", "#", id: "about-link", data: {color: "false"}) %> <br>
        <%= link_to("Our Offer", our_offer_path, class: "clip-text") %> <br>
        <%= link_to("Think Tank", blog_posts_path, class: "clip-text") %>
        <%= link_to("Add blog", new_blog_post_path, class: "clip-text") %>
      </div>
      <div class="horizontal-divider"></div>
      <div class="statments">
        <p>Personal Development</p>
        <u><p>Organizational Development</p></u>
        <p>Project Management</p>
        <p>Personal Coaching</p>
      </div>
    </div>
  </div>
