<div class="main-container">

  <div class="left-column">
    <div class="home-nav">
      <div class="links">
        <h3>B-Centred</h2>
        <%= link_to( "About Us", "#") %> <br>
        <%= link_to("Our Offer", our_offer_path) %> <br>
        <%= link_to("Think Tank", blog_posts_path) %>
      </div>
      <div class="horizontal-divider"></div>
      <div class="statments">
        <p>Personal Development</p>
        <u><p>Organizational Development</p></u>
        <p>Project Management</p>
        <p>Personal Coaching</p>
      </div>
    </div>
  </div>
  <div class="right-column">

    <div class="home-container">
      <h1>Helping you <br> B-centred in<br>the midst of <br> uncertainty <br> and change.</h1>
    </div>

    <div class="about-container">
      <h2>Our goal is to reshape ways of working, allowing sustainable expansion through innovation consulting & psychology to grow a successful business.</h2>
      <h2>We listen, support, absorb and then build the tools, processes, and ways of working needed to overcome challenges and reach individual and business goals.</h2>
      </div>
  </div>

</div>
