
.main-container-blog {
  width: 100%;
  display: flex;
  align-items: stretch; // Makes items fill the container
}
.right-column-blog, .left-column-blog {
  flex-grow: 1; // Fills remaining space
  min-height: 100vh;
  width: 50%;
}
.left-column-blog {
  background-color: #E6E6E6;
}
.right-column-blog {
  background-color: #CCCC9A;
}
.blog-container-grid {
  padding-inline: 10vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 2vh;
  padding-bottom: 2vh;
}

.blog-card-container {
  width: 100%;
}

.blog-card {
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-blend-mode: overlay;
  background-blend-mode: revert;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  * {
    margin: 0;
  }
  .fa-heart {
    color: #ff0000bb;
  }
  h3 {
    font-size: 2vw;
    font-weight: 600;
  }
  p {
    color: rgba(255, 255, 255, 0.909);
    font-size: 1.1vw;
  }
}
.horizontal-divider-fw {
  width: 100%;
  height: 1.7px;
  background-color: rgba(255, 255, 255, 0.909);
  margin-block: 2%;
}
.bottom-icons-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  margin-top: 3%;
}
.left-icons-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
  color: rgba(255, 255, 255, 0.909);
}
.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vw;
  i {
    font-size: 1.3vw;
  }
}
#blog-divider {
  margin-left: 10vw;
  margin-bottom: 20px;
  width: 5%;
  height: 2px;
}
